<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Sport</title>
</head>
<body>
    <h1>Select a Sport to Book a Slot</h1>
    <form action="/book" method="post">
        <select name="sport_id">
            <option value="">Select a Sport</option>
                {% for sport in sports %}
                    <option value="{{ sport[0] }}">{{ sport[1] }}</option>
                {% endfor %}
        </select>
        <button type="submit">Show Slots</button>
    </form>    
</body>
</html>